.container-drag {
  display: flex;
}
.sidebar {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.main {
  width: 80%;
  padding: 10px;
}
.draggable {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.header {
  text-align: center;
}
